apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - github.com/metallb/metallb/config/native?ref={{ kubernetes.metallb.version }}

commonLabels:
  infra.haondt.dev/managed-by: ansible
