apiVersion: v1
kind: Namespace
metadata:
  name: {{ kubernetes.charon.namespace }}
  labels:
    app.kubernetes.io/name: {{ kubernetes.charon.namespace }}
    infra.haondt.dev/managed-by: ansible

{% for repository_name, repository in kubernetes.charon.repositories.items() %}
{% if repository.config_map is defined %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: repository-{{ repository_name }}
  namespace: {{ kubernetes.charon.namespace }}
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
data:
{% for k, v in repository.config_map.items() %}
  {{ k }}: |-
    {{ v | indent(4) }}
{% endfor %}
{% endif %}
{% if repository.secret is defined %}
---
apiVersion: v1
kind: Secret
metadata:
  name: repository-{{ repository_name }}
  namespace: {{ kubernetes.charon.namespace }}
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
stringData:
{% for k, v in repository.secret.items() %}
  {{ k }}: |-
    {{ v | indent(4) }}
{% endfor %}
{% endif %}
{% endfor %}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: job-base-configmaps
  namespace: {{ kubernetes.charon.namespace }}
rules:
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: job-base-secrets
  namespace: {{ kubernetes.charon.namespace }}
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list"]

{% if kubernetes.alloy.enabled and kubernetes.alloy.daemonset.enabled %}
---
apiVersion: alloy.haondt.dev/v1
kind: AlloyPartialConfig
metadata:
  labels:
    deployment.haondt.dev/alloy-deployment: daemonset
  name: charon-logs
  namespace: {{ kubernetes.charon.namespace }}
spec:
  config: |-
    // charon logs
    discovery.relabel "charon_logs" {
        targets = discovery.relabel.pod_logs.output

        rule {
            source_labels = ["__meta_kubernetes_pod_label_deployment_haondt_dev_name"]
            regex = "charon"
            action = "keep"
        }

        rule {
            source_labels = ["__meta_kubernetes_namespace"]
            regex = "deployments-.*"
            action = "keep"
        }
    }
    loki.source.kubernetes "charon_logs" {
        targets    = discovery.relabel.charon_logs.output
        forward_to = [loki.process.charon_logs.receiver]
    }

    loki.process "charon_logs" {
        stage.json {
            drop_malformed = true
            expressions = {
                level = "",
                message = "",
                source_context = "name",
                timestamp = "time",
            }
        }

        stage.timestamp {
            source = "timestamp"
            format = "RFC3339Nano"
        }

        stage.structured_metadata {
          values = { 
            "message" = "",
            "source_context" = "",
          }
        }

        stage.labels {
          values = { 
            "level" = "",
          }
        }

        forward_to = [loki.relabel.pod_logs.receiver]
    }
{% endif %}
