apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://gitlab.com/haondt/CICD/k8s-manifests/-/raw/{{ kubernetes.charon.version }}/charon-k8s-job/bundle.yaml

commonLabels:
  infra.haondt.dev/managed-by: ansible
