# Allow all internal communication within kgateway-system namespace
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: kgateway-internal-access
  namespace: '{{ kubernetes.kgateway.namespace }}'
  labels:
    infra.haondt.dev/managed-by: ansible
spec:
  podSelector: {}
  policyTypes:
  - Ingress
  - Egress
  egress: [{}]
  ingress:
  - from:
    - podSelector: {}
---
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: allow-ingress-kgateway
  labels:
    infra.haondt.dev/managed-by: ansible
spec:
  types:
  - Ingress
  ingress:
  - action: Allow
    protocol: TCP
    destination:
      ports:
        - 80
        - 443
    source:
      nets: [0.0.0.0/0]
  selector: "projectcalico.org/namespace == '{{ kubernetes.kgateway.namespace }}' && gateway.networking.k8s.io/gateway-name == '{{ kubernetes.kgateway.gateway_name }}'"
