# Allow all internal communication within longhorn-system namespace
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: longhorn-internal-access
  namespace: longhorn-system
  labels:
    infra.haondt.dev/managed-by: ansible
spec:
  podSelector: {}
  policyTypes:
  - Ingress
  - Egress
  egress: [{}]
  ingress:
  - from:
    - podSelector: {}
---
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: allow-longhorn-webhook
spec:
  selector: projectcalico.org/namespace == 'longhorn-system'
  types:
    - Ingress
  ingress:
    - action: Allow
      protocol: TCP
      source:
        nets: 
{% for host in groups[target_hosts] %}
          - {{ hostvars[host].ansible_host }}/32
{% endfor %}
      destination:
        ports:
          - 9501
          - 9502
