# This section includes base Calico installation configuration.
# For more information, see: https://docs.tigera.io/calico/latest/reference/installation/api#operator.tigera.io/v1.Installation
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
  labels:
    infra.haondt.dev/managed-by: ansible
spec:
  # Configures Calico networking.
  calicoNetwork:
    ipPools:
    - name: default-ipv4-ippool
      blockSize: {{ kubernetes.calico.blockSize }}
      cidr: {{ kubernetes.calico.pod_cidr }}
      encapsulation: {{ kubernetes.calico.encapsulation }}
      natOutgoing: {{ kubernetes.calico.nat_outgoing }}
      nodeSelector: all()

---

# This section configures the Calico API server.
# For more information, see: https://docs.tigera.io/calico/latest/reference/installation/api#operator.tigera.io/v1.APIServer
apiVersion: operator.tigera.io/v1
kind: APIServer
metadata:
  name: default
  labels:
    infra.haondt.dev/managed-by: ansible
spec: {}

---

# Configures the Calico Goldmane flow aggregator.
apiVersion: operator.tigera.io/v1
kind: Goldmane
metadata:
  name: default
  labels:
    infra.haondt.dev/managed-by: ansible

---

# Configures the Calico Whisker observability UI.
apiVersion: operator.tigera.io/v1
kind: Whisker
metadata:
  name: default
  labels:
    infra.haondt.dev/managed-by: ansible

---

# allow cert-manager webhooks
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: allow-cert-manager-webhook
spec:
  selector: projectcalico.org/namespace == 'cert-manager'
  types:
    - Ingress
  ingress:
    - action: Allow
      protocol: TCP
      source:
        nets: 
{% for host in groups[target_hosts] %}
          - {{ hostvars[host].ansible_host }}/32
{% endfor %}
      destination:
        ports: [10250]
---

# Default deny policy
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: default-deny-ingress
spec:
  selector: projectcalico.org/namespace not in {'kube-system', 'calico-system', 'calico-apiserver'}
  types:
    - Ingress
