apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-{{ kubernetes.ingress_nginx.version }}/deploy/static/provider/cloud/deploy.yaml

commonLabels:
  managed-by: ansible

patches:
{% if kubernetes.ingress_nginx.load_balancer_ip is defined or (kubernetes.ingress_nginx.node_port is defined and kubernetes.ingress_nginx.node_port.enabled) %}
- target:
    kind: Service
    name: ingress-nginx-controller
    namespace: ingress-nginx
  patch: |-
{% if kubernetes.ingress_nginx.load_balancer_ip is defined %}
    - op: add
      path: /spec/loadBalancerIP
      value: {{ kubernetes.ingress_nginx.load_balancer_ip }}
{% endif %}
{% if kubernetes.ingress_nginx.node_port is defined and kubernetes.ingress_nginx.node_port.enabled %}
    - op: replace
      path: /spec/type
      value: NodePort
    - op: remove
      path: /spec/externalTrafficPolicy
{% if kubernetes.ingress_nginx.node_port.http is defined %}
    - op: add
      path: /spec/ports/0/nodePort
      value: {{ kubernetes.ingress_nginx.node_port.http }}
{% endif %}
{% if kubernetes.ingress_nginx.node_port.https is defined %}
    - op: add
      path: /spec/ports/1/nodePort
      value: {{ kubernetes.ingress_nginx.node_port.https }}
{% endif %}
{% endif %}
{% endif %}

{% if kubernetes.ingress_nginx.enable_ssl_passthrough %}
- target:
    kind: Deployment
    name: ingress-nginx-controller
    namespace: ingress-nginx
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --enable-ssl-passthrough
{% endif %}
