apiVersion: v1
kind: Config
current-context: {{ sa_config.service_account_name }}
contexts:
- name: {{ sa_config.service_account_name }}
  context:
    cluster: default
    user: {{ sa_config.service_account_name }}
    namespace: {{ sa_config.namespace }}
clusters:
- name: default
  cluster:
    certificate-authority-data: {{ sa_config.ca_cert | b64encode }}
    server: https://{{ kubernetes.cluster_ip }}:6443
users:
- name: {{ sa_config.service_account_name }}
  user:
    token: {{ sa_config.token }}
