---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ kubernetes.infrastructure_jobs.namespace }}"
  labels:
    app.kubernetes.io/name: {{ kubernetes.infrastructure_jobs.namespace }}
    infra.haondt.dev/managed-by: ansible
---
apiVersion: v1
kind: Secret
metadata:
  name: infrastructure-secrets
  namespace: "{{ kubernetes.infrastructure_jobs.namespace }}"
  labels:
    infra.haondt.dev/managed-by: ansible
stringData:
  data: |
    {{ kubernetes.infrastructure_jobs.secrets | indent(4) }}

{% for cron_job_name, cron_job in kubernetes.infrastructure_jobs.cron_jobs.items() %}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  labels:
    infra.haondt.dev/managed-by: ansible
  name: {{ cron_job_name }}
  namespace: {{ kubernetes.infrastructure_jobs.namespace }}
spec:
  schedule: "{{ cron_job.schedule }}"
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/managed-by: ansible
            app.kubernetes.io/name: infrastructure-job
            app.kubernetes.io/part-of: {{ cron_job_name }}
            infra.haondt.dev/managed-by: ansible
            infra.haondt.dev/name: infrastructure-job
            infra.haondt.dev/part-of: {{ cron_job_name }}
{% if cron_job.labels %}
{% for k, v in cron_job.labels.items() %}
            {{ k }}: "{{ v }}"
{% endfor %}
{% endif %}
        spec:
          containers:
          - image: {{ kubernetes.infrastructure_jobs.image }} 
            name: primary
            volumeMounts:
            - mountPath: /infrastructure-secrets
              name: infrastructure-secrets
            command:
              - 'sh'
              - '-c'
              - |
                git clone --branch main --depth 1 https://gitlab.com/haondt/infrastructure.git;
                cd infrastructure/deployment;
                cat /infrastructure-secrets/data > secrets.yml;
                make {{ cron_job.target }} {% if cron_job.arguments %}{% for k, v in cron_job.arguments.items() %} {{ k }}={{ v }}{% endfor %}{% endif %}

          restartPolicy: OnFailure
          volumes:
          - name: infrastructure-secrets
            secret:
              secretName: infrastructure-secrets
{% endfor %}
